.answersContainer {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.answerButton {
  width: 50%;
  height: 60px;
  background-color: #000088;
  border: solid 3px #0000bb;
  border-radius: 30px;
  margin-bottom: 4px;
  font-size: 15px;
}

.answerButton:hover {
  background-color: #cccc00;
}

.correct {
  background-color: #00ff00;
}

.wrong {
  background-color: #ff0000;
}

.hover {
  background-color: #cccc00;
}

.transparent {
  color: transparent;
}
