.answersContainer {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.answerButton {
  width: 400px;
  height: 70px;
  background-color: #000088;
  border: solid 3px #337700;
  color: #ffffff;
}

.answerButton:hover {
  background-color: #cccc00;
}

.correct {
  background-color: #00ff00;
}

.wrong {
  background-color: #ff0000;
}
